
     <!-- testimonial card Section -->
     <section>
        <div class="casos-de-exito ">
          <div class="casos-dexito">
            Casos de éxito
          </div >
          
          <div id="carouselTestimonial" class="carousel slide container-fluid">
          
            <div class="carousel-inner">

              <!-- slide 1 -->
              <div class="carousel-item active ">
                <div class="container row">
                    <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Estoy sorprendido, reuní a un perrito perdido con su familia en pocas horas. ¡Excelente plataforma, recomiendo!”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 2.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                            Emiliano 
                        </div>
                        <span class="client-proffesion">
                            Parque Patricios, CABA / Julio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a la plataforma hoy tengo un nuevo amigo, adopté a Samba, un gatito adorable. ¡Adopta, no compres!”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 3.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                            Tamara
                        </div>
                        <span class="client-proffesion">
                            Quilmes, Buenos Aires / Julio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

              </div>
              <!-- slide 2 -->
              <div class="carousel-item ">
                <div class="container row">
                    <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 2.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 3.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 2.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

              </div>

              <!-- slide 3 -->

              <div class="carousel-item ">
                <div class="container row">
                    <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                            <img class="quotes m-2" src="../../../assets/comilla.png" />  
                          </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 2.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                      <div class="comillas">
                        <img class="quotes m-2" src="../../../assets/comilla.png" /> 
                        <img class="quotes m-2" src="../../../assets/comilla.png" />  
                      </div>
                      <p>
                        <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 3.svg" alt="" class="client-photo">
                      </div>
                      <div class="col ml-3">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Las Heras, Mendoza / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

              </div>

            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonial" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonial" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div >
            <!-- Controles -->
            <button type="button" data-bs-target="#carouselTestimonial" data-bs-slide-to="0" class="active btn-testimonial" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#carouselTestimonial" data-bs-slide-to="1" class="btn-testimonial" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselTestimonial" data-bs-slide-to="2" class="btn-testimonial" aria-label="Slide 3"></button>
          </div>
        </div>
      </section>

<!-- end testimonial  Section -->