

<div>@if (register == true) {
  <div class="modal-dialog modal-dialog-right">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" (click)="registerfalse()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <div class="contenedor-login campo">
          <div class="lupa">
            <img src="../../../assets/SVG - PNG FRONT/2 - INICIAR SESIÓN- REGISTRATE/Logo LUPA.svg" alt="">
          </div>
          <div id="title">
            <h1>Iniciar Sesión</h1>
          </div>
          <form [formGroup]="userCredentials" (ngSubmit)="clickLogin()" >
          <div class="mb-3">

            <label for="InputEmail1" class="form-label"><b>Correo Electrónico</b></label>
            <input type="email" formControlName="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="InputPassword1" class="form-label"><b>Contraseña</b></label>
            <input type="password" formControlName="password" class="form-control" id="InputPassword1" >
            <div class="forget-password">
              <small id="emailHelp" class="form-text text-muted"><a href="">Olvidé mi contraseña</a></small>
              <br>
            </div>
          </div>
          <div class="row" id="botones">
            <button type="submit" class="btn-registro col btn" data-bs-dismiss="modal" >Iniciar Sesión</button>
            <button disabled type="submit" class="btn-pet-google col btn btn-go"> <span><img src="../../../assets/SVG - PNG FRONT/2 - INICIAR SESIÓN- REGISTRATE/logo google.png" alt="logoGoogle"></span> Iniciar Sesión con google</button>
          </div>
          </form>
          <div class="opciones">No tienes cuenta?  <a [routerLink]="" (click)="clickRegister()"  id="btnRegister" >
            Registrate aqui</a>
          </div>
        </div>
      </div>
    </div>
  </div>

}@else {
  <div>
    <div class="modal-dialog modal-dialog-right" id="myRegister">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" (click)="registerfalse()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarTodo()">
          </button>
        </div>
        <div class="modal-body">
          <div class="contenedor-register campo">
            <div class="lupa">
              <img src="../../../assets/SVG - PNG FRONT/2 - INICIAR SESIÓN- REGISTRATE/Logo LUPA.svg" alt="">
            </div>
            <div id="title">
              <h1>Registrate</h1>
            </div>
              <form [formGroup]="userRegister" (ngSubmit)="Registrarse()">
                <div class="mb-3">
                  <label for="formGroupExampleInput" ><b>Nombre</b></label>
                  <input type="text" class="form-control" id="formGroupExampleInput" formControlName="name">
                </div>
                <div class="mb-3">
                  <label for="InputEmail1" class="form-label" ><b>Correo Electrónico</b></label>
                  <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" formControlName="email">
                </div>
                <div class="mb-3">
                  <label for="InputPassword1" class="form-label" ><b>Contraseña</b></label>
                  <input type="password" class="form-control" id="InputPassword1" formControlName="password">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"><b>Repetir Contraseña</b></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="rePassword">
                </div>

                <div class="row" id="botones">
                  <button type="submit" class="btn-registro col btn" (click)="redireccionLogin()">Registrarse</button>
                  <button disabled type="submit" class="btn-pet-google col btn btn-go"> <span><img src="../../../assets/SVG - PNG FRONT/2 - INICIAR SESIÓN- REGISTRATE/logo google.png" alt="logoGoogle"></span> Iniciar Sesión con google</button>
                </div>
                <div class="opciones"><b>Ya tienes cuenta?  </b> <a [routerLink]="" (click)="redireccionLogin()" id="login">Iniciar sesión aquí</a></div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
}
@if (isLoading) {
  <app-spiner class="full-screen-spinner"></app-spiner>
}










