
<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Abrir Login
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-right">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <div class="contenedor-login">
          <div><img src="../../../assets/SVG - PNG FRONT/2 - INICIAR SESIÓN- REGISTRATE/Logo LUPA.svg" alt=""></div>
          <div>Iniciar Sesión</div>

          <div class="mb-3">
            <label for="InputEmail1" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="InputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="InputPassword1">
          </div>
          <div class="row">
            <button type="submit" class="btn-pet col">Iniciar Sesión</button>
            <button type="submit" class="btn-pet-google col"> <span><img src="../../../assets/SVG - PNG FRONT/2 - INICIAR SESIÓN- REGISTRATE/logo google.png" alt="logoGoogle"></span> Iniciar Sesión con google</button>
          </div>
          <div>No tienes cuenta? <a routerLink="">Registrate aqui</a></div>
        </div>
      </div>
    </div>
  </div>
</div>












