@import url('../../../styles.css');
/* Clase personalizada para el modal-dialog */
/* #myRegister{
  z-index: 10;
} */
h1 {
  font-size: 28px;
}
/* .title{
  padding: 0;
  margin: 0;
} */
.btn-close{
  top: 0;
  right: 0;
  margin: .6rem ;
  position: absolute;
  /* margin: 0; */
}

.modal-dialog-right {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 905px;
  margin: 0;
}

.modal-content {
  height: 905px;
  z-index: 100%;
  border-radius: 0;
  padding: 0 3%;
  background-color: var(--colorFondo);
}

.lupa{
  max-width: 70px;
  max-height: 102px;
  margin: .5rem auto;
}

#title{
  text-align: center;
  margin: 1rem 0;
}
label {
  font-size: .8rem;
  margin: 0;
}
#botones{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
  padding: 0;
}
.btn{
  /* padding: 16px 20px; */
  height: 45px;
  font-size: 15px;
  margin: 0 .6rem;
  /* opacity: 0.5 */
}
.btn-go{
  font-size: 14px;
}
.opciones{
  margin-top: 3vh;
  text-align: center;
}
.forget-password{
  text-align: end;
}
#btnRegister{
  text-decoration: underline;
  cursor: pointer;
  color: #0D6EFD;
}
#login{
  text-decoration: underline;
  cursor: pointer;
  color: #0D6EFD;
}
input{
  background-color: var(--colorInputFormProfile);
  border-radius: 11px;
  font-size: .9rem;
  margin: 0;

}
.btn-go:disabled {
  background-color: #ccc; /* Color de fondo */
  color: #666; /* Color del texto */
  cursor: not-allowed; /* Cursor para indicar que está deshabilitado */
  border: 1px solid #aaa; /* Borde del botón */
}
.btn:hover{
  /* opacity: 0.8; */
  background-color: #dc6d35;
}

@media (width < 700px) {
  .btn{
    font-size: 12px;
    padding: 10px;
  }
  .btn-go{
    font-size: 10px;
  }

}
