<app-navbar></app-navbar>
<div class="container-fluid row">
    <div class="col-6">
        <h1>Mascotas perdidas</h1>
        <img src="../../../assets/perrito.png" alt="test">
        <div class="container white-section">
            <p>Si tenes información para aportar no dudes en dejar tu comentario</p>
            <hr>
           
        @if (true) { <div class="input-comentario">
    <span class="profile-img"><img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt=""></span>
    <form action="">
        <input type="text" placeholder="Dejar un comentario">
    </form></div>
    <div class="input-comentario">
        <p> *Deberás registarte o iniciar sesión para comentar</p>
        <button class="btn-pet" style="background: #FEB941;">Comentar</button>
    </div>

        }
    @else {

    }
            
            @if (true) {
                <hr>
                <div class="comentario row">
                    <div class="col-3"> 
                        <span class="profile-img"><img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt=""></span>
                        
                    </div>
                    <div class="col-9">
                        <h4>Nombre</h4>
                        <p>Comentario</p> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quis itaque fugit nesciunt vel repudiandae.</p>
                    </div>
                  
                </div>
                <hr>
            }

        </div>
    </div>
    <div class="col-6">
        <div class="container">
            <p>lorem </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat inventore. Sit eveniet expedita eaque!
            </p>
        </div>
        <hr>
        <div class="container">
            <p>lorem </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat inventore. Sit eveniet expedita eaque!
            </p>
            <hr>
            <p>lorem </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat inventore. Sit eveniet expedita eaque!
            </p>
            <hr>
            <p>lorem </p>
            <hr>
        </div>

        <div class="container">
            <p>contatatnos</p>
        </div>
    </div>
    <div class="col-12">
        <div class="container">
            <h1>Lorem u harum.</h1>
        <span><img src="../../../assets/perrito.png" alt="perrito"></span>
        <span><img src="../../../assets/perrito.png" alt="perrito"></span>
        <span><img src="../../../assets/perrito.png" alt="perrito"></span>
        <span><img src="../../../assets/perrito.png" alt="perrito"></span>
        </div>
    </div>
</div>
<app-footer></app-footer>