<app-navbar></app-navbar>
<div class="container-fluid row ">
    <div class="col-lg-6 col-sm-12 ">
        <h1>Mascotas perdidas</h1>

        <div id="carouselPetDetails" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPetDetails" data-bs-slide-to="0" class="active btn-testimonial" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPetDetails" data-bs-slide-to="1" aria-label="Slide 2" class="btn-testimonial"></button>
              <button type="button" data-bs-target="#carouselPetDetails" data-bs-slide-to="2" aria-label="Slide 3" class="btn-testimonial"></button>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let image of pet.images; let isFirst = first" class="carousel-item" [class.active]="isFirst">
                <img src="{{image.url}}" class="d-block w-100" alt="Image pet">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPetDetails" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPetDetails" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <!-- <img src="../../../assets/perrito.png" alt="test">-->
        <div class="container white-section ">
         <p>Si tenes información para aportar no dudes en dejar tu comentario</p>
            <hr>

        @if (true) {
            <div class="input-comentario">
                <span class="profile-img"><img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt=""></span>
                <form action="">
                    <input type="text" placeholder="Dejar un comentario">
                </form>
            </div>
            <div class="input-comentario">
                <p> *Deberás registarte o iniciar sesión para comentar</p>
                <button class="btn-pet" style="background: #FEB941;">Comentar</button>
            </div>
        }
        @else {
            <div class="input-comentario">
                <span class="profile-img"><img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt=""></span>
                <form action="">
                    <input type="text" placeholder="Dejar un comentario">
                </form>
            </div>
            <div class="input-comentario">
                <p> *Deberás registarte o iniciar sesión para comentar</p>
                <button disabled class="btn-pet" style="background:  #98A2B3;
;">Comentar</button>
            </div>

        }

            @if (true) {
                <hr>
                <div class="comentario row">
                    <div id="fix" class="col-3">
                        <span class="profile-img"><img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt=""></span>

                    </div>
                    <div class="col-9">
                        <div class="comentario-texto">
                        <h6>Nombre</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, quibusdam!</p>
                        <span class="">fecha xx/xx/xx · 20h</span>
                        <a  class="m" (click)="reportComent()" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Reportar comentario</a>

                        
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" >
                                  <div class="modal-content" id="ModalReport">
                                    @if (btnReport == true) {
                                      <div class="modal-header border-0 d-flex" >
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body ">
                                      <div class="tituloModal">
                                        <h5 class="modal-title text-center " id="tituloModal-1" >Reportar</h5>
                                      </div>
                                        <p class="text-center">Si creés que algún contenido no es adecuado, por favor reportalo para que podamos revisarlo y tomar las medidas necesarias</p>
                                      <div class="comentario">
                                        <div class="form-group">
                                          <textarea class="form-control" id="message-text" placeholder="Motivo" ></textarea>
                                          <small class="d-flex justify-content-end"><p>10/300</p></small>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="modal-footer border-0 d-flex justify-content-center">
                                      <button type="button" class="botonModal1" (click)="confirmReport()"  data-target="#exampleModal2" data-whatever="@getbootstrap">Reportar</button>
                                      <button type="button" class="botonModal2" data-dismiss="modal">No, cancelar</button>
                                    </div>
                                    }@else {
                                      <div class="modal-header border-0 d-flex" >
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>

                                    <div class="modal-body ">
                                        <div class="tituloModal">
                                          <h5 class="modal-title text-center " id="tituloModal-2" >GRACIAS</h5>
                                        </div>
                                        <p class="text-center">la publicación	ha sido reportada con éxito!/p>
    
                                      <div class="imagen-modal">
                                        <img src="../../../assets/grupo-animales-lindos-sobre-fondo-blanco 2.png" alt="">
                                      </div>
                                    </div>
                                    }
                                  </div>
                                </div>
                              </div>
                        </div>  
                      </div>
                        <hr style="width: 90%;margin-left: 10px;" >
                </div>

            }

        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="container-name">
            <div class="container-shadow">
                @if (pet.speciesType == 'cat') {
                    <img src="../../../assets/logo gato  dets.png" alt="gato">
                } @else {
                    <img src="../../../assets/ph_dog.png" alt="perro">
                }
                <h5>{{ this.pet.name }}</h5>
            </div>
            <div class="row-fix">
                <img src="../../../assets/twocard.png" alt="eye">
                <p>Visto por última vez:<span class="ml-2">{{formatDate(pet.date)}}</span></p>
            </div>
            <div class="row-fix">
                <img src="../../../assets/ubication.png" alt="place">
                <p>{{pet.province}}, {{ pet.city }}, {{pet.locality}}</p>
            </div>


        </div>
        <br>

        <div class="container-details">
            <div class="row">
                <div class="col-3">
                    <span class="profile-img"><img src="{{pet.user.profilePicture}}" width="60" height="60" alt=""></span>
                </div>
                <div class="col-7">
                    <p>{{ pet.user.name }}</p>
                    <p>Última Actualizacion <span>{{formatDate(pet.createdAt)}}</span></p>
                    <hr>
                </div>
            </div>
            <div class="row-fix">
                <!-- email -->
                <img  src="../../../assets/email-address-svgrepo-com 1.png" alt="email"> <p>{{ pet.user.email }}</p>
            </div>
            <div class="row-fix">
                <img   src="../../../assets/cellphone.png" alt="cell"> <p>{{ pet.user.phone }}</p>
            </div>
            <h5 class="d-flex align-content-start">Descripción</h5>
            <hr>
      <p>{{ this.pet.description }}</p>
            <hr>
            <div class="caract">
                <h5>Sexo</h5> <p>●</p>
                <div class="caracteristic">{{ pet.gender}}</div>
            </div>
            <div class="caract">
                <h5>Color</h5> <p>●</p>
                <div class="d-flex" *ngFor="let color of pet.colors">
                  <div class="caracteristic">{{ color.name }}</div>
                </div>
            </div>
            <hr>
            <div class="d-flex" *ngFor="let caracteristic of pet.tags">
                <div class="caracteristic">{{ caracteristic.name}}</div>
            </div>
        </div>

        <div class="container-contacus">
            <h5>Compartir</h5>
            <hr>
            <div class="row">
                <div class="col">¡Comparte la publicación en tus redes
                    para aumentar la difusión!</div>
                <div class="col d-flex">
                    <a href="https://web.whatsapp.com/"><img src="../../../assets/whatsapp.png" alt="whatsapp"></a>
                    <a href="https://www.facebook.com/"><img src="../../../assets/facebook.png" alt="facebook"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12">
        <div id="fix-responsive">
            <h1>Ver Mascotas encontradas</h1>
        <div class="responsive">

<app-pets-card class="m-2"></app-pets-card >
<app-pets-card class=" m-2"></app-pets-card >
<app-pets-card class=" m-2"></app-pets-card >
<app-pets-card class=" m-2"></app-pets-card >
    <app-pets-card class=" m-2"></app-pets-card >
        <app-pets-card class=" m-2"></app-pets-card >
        <app-pets-card class=" m-2"></app-pets-card >
        </div>
    </div></div>

</div>
<app-footer></app-footer>


