<div class="filter-container">
  <div class="cont">
    <img class="filterimg" src="../../../assets/filter2.png" alt="">
    <h1>Filtrar</h1>
  </div>

  <div class="filter-section">
      <div class="cont cont-label">
        <img class="iconLabel" src="../../../assets/pet.png" alt="">
        <label for="animal">Especie de animal</label>
      </div>
      <select id="animal">
          <option value="" disabled selected>Seleccionar</option>
          <option value="perro">Perro</option>
          <option value="gato">Gato</option>
          <option value="pajaro">Pájaro</option>
      </select>
  </div>

  <div class="filter-section">
      <div class="cont cont-label">
        <img class="iconLabel" src="../../../assets/ubication.png" alt="">
        <label for="provincia">ubicacion</label>
      </div>
      <select class="ubicacion" id="provincia">
          <option value="" disabled selected>provincia</option>
          <option value="provincia1">Provincia 1</option>
          <option value="provincia2">Provincia 2</option>
          <option value="provincia3">Provincia 3</option>
      </select>

      <select class="ubicacion" id="ciudad">
        <option value="" disabled selected>ciudad</option>
        <option value="ciudad1">Ciudad 1</option>
        <option value="ciudad2">Ciudad 2</option>
        <option value="ciudad3">Ciudad 3</option>
    </select>

    <select class="ubicacion" id="localidad">
      <option value="" disabled selected>localidad</option>
      <option value="localidad1">Localidad 1</option>
      <option value="localidad2">Localidad 2</option>
      <option value="localidad3">Localidad 3</option>
  </select>
  </div>


  <div class="filter-section">
      <div class="cont cont-label">
        <img class="iconLabel" src="../../../assets/date.png" alt="">
        <label for="fecha">Fecha</label>
      </div>
      <select id="fecha">
          <option value="" disabled selected>Seleccionar</option>
          <option value="esta-semana">Esta semana</option>
          <option value="este-mes">Este mes</option>
      </select>
  </div>

  <div class="filter-section">
      <div class="cont cont-label">
        <img class="iconLabel" src="../../../assets/Vector.png" alt="">
        <label for="color">Color</label>

      </div>
      <select id="color">
          <option value="" disabled selected>Seleccionar</option>
          <option value="rojo">Rojo</option>
          <option value="azul">Azul</option>
          <option value="verde">Verde</option>
      </select>
  </div>
  <button class="btn">Aplicar filtros</button>
</div>
