@import url('../../../styles.css');

.card {
  width: 307px;
  height: 405px;
  background-color: #F4F4DC;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin: 1rem; */
}
.card img {
  width: 287px;
  border-radius: 10px;
  height: auto;
  margin: 0 .5rem;
}
.card-content {
  padding: 10px 7px;
  text-align: start;
}
.cont{
  margin: 0;
  display: flex;
  align-items: center;
}
.img{
  max-width: 22px;
  max-height: 20px;
}
.img-lugar{
  max-width: 18px;
  max-height: 20px;
  /* margin-right: 2px; */
}
h2 {
  margin: 0;
  font-weight: 700;
  font-size: 19px;
}
.card-content .info {
  margin: 6px 0;
}

.info-p{
  color: black;
  font-family: var(--texto);
  font-weight: 700;
  font-size: 13.3px;
  letter-spacing: 0.2px;
  line-height: 18.66px;
  margin: .6rem 0;
}
.info-lugar{
  margin-left: 4px;
}
h3{
  color: black;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.55px;
}
.description{
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 13.45px;
}
.card-content button {
  background-color: var(--colorBtnPublicaciones);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* .card-content button:hover {
  background-color: var(--colorBtnPublicaciones);
} */
