<!DOCTYPE html>
<html lang="es">
<body style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
<div>
    <img src="http://res.cloudinary.com/dgw9rpg8h/image/upload/v1721073151/ru6p2xncgdub4nh2uptn.png" alt="Logo"
         style="width: 10rem"/>
</div>
<h3>¡Bienvenido a nuestra comunidad!🧡</h3>
<h1>
    ¡Solo falta un paso! Por favor, hacé click en el siguiente enlace para
    verificar tu cuenta 👇
</h1>
<a href="{frontendUrl}activate/{tokenSecurity}" style="color: blue">{frontendUrl}activate/{tokenSecurity}</a>
<div style="text-align: start;position: relative;">
    <p>
        En <span style="font-weight: bold;">PetQuest</span>, creemos en el poder del amor y la compasión hacia
        nuestros
        amigos de cuatro patas. Tu decisión de registrarte y confiar en nosotros
        para buscar tu mascota perdida, compartir información sobre mascotas
        encontradas y ayudar en la adopción de animales rescatados nos inspira
        profundamente.
    </p>
    <p>
        Tu apoyo es fundamental para que juntos podamos marcar la diferencia en la
        vida de estas adorables criaturas 🐶🐱
    </p>
    <p>
        Gracias <br/>
        Con cariño, 🐾
    </p>
    <p>El equipo de PetQuest</p>
    <div style="position: absolute; width: 100%; text-align: center;">
        <img src="http://res.cloudinary.com/dgw9rpg8h/image/upload/v1721073784/kzfm9a1ho6aslujr23ro.png"
             alt="PetQuest"/>
    </div>
</div>
</body>
</html>