<!DOCTYPE html>
<html lang="es">
<body style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
<div>
    <img src="http://res.cloudinary.com/dgw9rpg8h/image/upload/v1721073151/ru6p2xncgdub4nh2uptn.png" alt="Logo"
         style="width: 10rem"/>
</div>
<h3>
    Hay un nuevo comentario en una de tus publicaciones.
</h3>
<p style="margin-bottom: 35px;">Hacé click en el siguiente enlace para verlo 👇</p>
<a href="{frontendUrl}pets-details/{postId}"
   style="text-decoration: none; color: black; border: 1px solid;font-weight: bold; padding: 5px 40px; margin-top: 20px">Ver
    publicación</a>
<div style="text-align: start;position: relative; margin-top: 80px">
    <p>
        El equipo de PetQuest 🐾
    </p>
    <div style="position: absolute; width: 100%; text-align: center;">
        <img src="http://res.cloudinary.com/dgw9rpg8h/image/upload/v1721073784/kzfm9a1ho6aslujr23ro.png"
             alt="PetQuest"/>
    </div>
</div>
</body>
</html>