<!DOCTYPE html>
<html lang="es">
<body style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
<div>
    <img src="http://res.cloudinary.com/dgw9rpg8h/image/upload/v1721073151/ru6p2xncgdub4nh2uptn.png" alt="Logo"
         style="width: 10rem"/>
</div>
<h3>
    Has solicitado restablecer tu contraseña. Para configurar una nueva contraseña, hacé click en el siguiente enlace y
    seguí las instrucciones 👇
</h3>
<a href="{frontendUrl}recovery/{tokenSecurity}" style="color: blue">{frontendUrl}recovery/{tokenSecurity}</a>
<div style="text-align: start;position: relative;">
    <p>
        Si no realizaste esta solicitud, por favor ignorá este mensaje o contactanos.
    </p>
    <p>
        El equipo de PetQuest 🐾
    </p>
    <div style="position: absolute; width: 100%; text-align: center;">
        <img src="http://res.cloudinary.com/dgw9rpg8h/image/upload/v1721073784/kzfm9a1ho6aslujr23ro.png"
             alt="PetQuest"/>
    </div>
</div>
</body>
</html>