<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Logo.svg" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about-us">¿Quiénes somos? </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/preguntas-Frecuentes">FAQ</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-expanded="false">
            Ver publicaciones
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/mascotas-perdidas">Mascotas perdidas</a>
            <a class="dropdown-item" routerLink="/mascotas-encontradas">Mascotas encontradas</a>
            <a class="dropdown-item" routerLink="/mascotas-adopcion">Mascotas en adopción</a>
          </div>
        </li>
      </ul>
      
      @if (!verifyToken) {
        <app-login class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static"></app-login> 
        <button type="button" class="btn btn-dark" id="btnLogin" data-bs-toggle="modal" data-bs-target="#myModal">Iniciar sesión</button> 
        <!-- <button type="button" class="btn btn-dark" id="btnLogin" (click)="openLoginModal()">Iniciar sesión</button> -->
        }
         @else {
          <div class="d-flex justify-content-center align-items-center text-white" >
              <!-- <a class="nav-link p-2" routerLink="/profile">Perfil</a> -->
              <a class="nav-link p-2" routerLink="/home" (click)="logOut()">Cerrar sesión</a>|
              <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/caso de exito 1 .svg" alt="profile-img" class="client-photo" (click)="ClickProfile()">
          </div>
          
         }
        

    </div>
  </div>
</nav>
