<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Logo.svg" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about-us">¿Quiénes somos? </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/preguntas-Frecuentes">FAQ</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-expanded="false">
            Ver publicaciones
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/mascotas-perdidas">Mascotas perdidas</a>
            <a class="dropdown-item" routerLink="/mascotas-encontradas">Mascotas encontradas</a>
            <a class="dropdown-item" routerLink="/mascotas-adopcion">Mascotas en adopción</a>
          </div>
        </li>
      </ul>

        <button type="button" class="btn btn-dark" id="btnLogin" routerLink="/login">iniciar sesión</button>

    </div>
  </div>
</nav>
