<div class="container">
    <div class="row">
        <div class="class col-12 col-lg-6 col-sm-12">
            <div class="parrafo">
                <h1>¡Unite a Nuestra Comunidad!</h1>
                <p>Al registrarte en <b>Pet Quest</b>, te convertís en parte de una red solidaria dedicada a ayudar a las mascotas perdidas y rescatadas.</p>
                <br>
                <p>Tu participación ayuda a expandir nuestra red y a ofrecer más esperanza a las mascotas y sus familias. </p>
                <br>
                <p><b>¡Registrate hoy y formá parte de este esfuerzo colectivo!</b></p>
                <div>
                    <button >Registrarme</button>
                </div>
            </div>
        </div>

        <div class="class col-12 col-lg-6 col-md-12 col-sm-12" id="contenedorImagen">
            <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Vector comunidad.svg" alt="" class="imagen-inferior-lateral">
        </div>
    </div>
</div>
