<section id="contenedor">
    <div class="row">
        <div class="col">
            <div>
                <h1>¡Únete a Nuestra Comunidad!</h1>
                <p>Al registrarte en Pet Quest, te convertís en parte de una red solidaria dedicada a ayudar a las mascotas perdidas y rescatadas.</p>
                <br>
                <p>Tu participación ayuda a expandir nuestra red y a ofrecer más esperanza a las mascotas y sus familias. </p>
                <br>
                <p>¡Registrate hoy y forma parte de este esfuerzo colectivo!!</p>
            </div>
            <button>Registrarme</button>
        </div>
        <div class="col">
            <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Vector comunidad.svg" alt="">
        </div>
    </div>
  </section>
