body{
  background-color: #f9f9ed;;
}
.hero {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../../assets/Gris_0.png');
    background-size: cover;
    background-position: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    
  }
  /* Hero Left */
  .hero-left {
    width: 50%;
    padding: 40px;
  }
  .hero-left h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .hero-left span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  .hero-left p {
    inline-size: 450px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .hero-right {
    width: 50%;
    padding: 40px;
  }
  .regtangleHeader2
    {
    height: 200px;
    width: 200px;
    background: #D9D9D9;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;

    }
  
    h3.text-center {
      padding-top: 27px;
  }

    .quienes-somos{
        background: #D9D9D9;
        border-radius: 20px;
        padding: 5px;
        margin: 20px;
        margin-left: 50px;
        margin-right: 50px;
        height: 245px;
    }

    .nuestra-comunidad{
      background: #D9D9D9;
        border-radius: 20px;
        padding: 5px;
        margin: 20px;
        margin-left: 50px;
        margin-right: 50px;
        height: 245px;
    }

    p.comunidad {
      padding: 3%;
  }

  button.btn.btn-outline-dark {
    align-items: center;
}

.suscribirse{
  background: #D9D9D9;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 245px;
}

h3.titulo {
  margin-top: 24px;
  margin-bottom: 40px;
}

small#emailHelp {
  margin-left: -116px;
}
.testimonial-card {
  border-radius: 24px;
  background: var(--colorprimary-blue-200, #B8E4E9);
  padding: 16px;
  width: 416px;
  box-sizing: border-box;
}

.casos-de-exito {
  margin: 0 55.5px 32px 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.casos-dexito {
  margin: 0 2px 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 39.8px;
  color: #277380;
}

 .contents {
  box-shadow: 0px 8px 24px 0px rgba(229, 69, 69, 0.04);
  border-radius: 16px;
  background: #FFFFFF;
  position: relative;
  padding: 32px;
  box-sizing: border-box;
}
  .client-proffesion {
  overflow-wrap: break-word;
  color: var(--gray-500, #838E9E);
}
    
.client-photo{
  z-index: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
}