
<app-navbar></app-navbar>
<body>
  <app-landing-encuentra></app-landing-encuentra>
  <app-landing-comofunciona></app-landing-comofunciona>
  <app-landing-aboutus></app-landing-aboutus>
  <app-landing-testimonial></app-landing-testimonial>
</body>


<div class="color">

         <!-- header 2 Section --> 
     
        <!-- End header 2 Section -->

        <!-- quienes somos Section -->
        
       <!-- testimonial card Section -->
       
        <!-- testimonial card Section -->
   
        

  
          <!-- joind us Section --> 
      <app-landing-unete></app-landing-unete>
          <!-- joind us end Section --> 

<app-footer></app-footer>
        </div>
 