<app-navbar>    </app-navbar>
 <!-- Hero Section -->   
<section class="hero">
        <!-- Hero Left -->
        <div class="hero-left">
          <h1>Lorem ipsum dolor </h1>
        
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing </h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
            inventore tempore velit, assumenda iste unde vitae! Maxime deserunt
            aut minus ea corporis vero voluptatem doloremque impedit dolore, eius
            tempora deleniti.
          </p>
          <div >
            <a href="#" class="btn-primary">Action</a>
            <a href="#">Read More...</a>
          </div>
        </div>
  

        <!-- Hero Right -->
        <div class="hero-right">
          <div class="right-top">
          
          </div>
        </div>
      </section>
        <!-- End Hero Section -->
         <!-- header 2 Section --> 
      <section class="row d-flex justify-content-center">
        <h3 class="col-12 text-center">header 2</h3>
            <div class="regtangleHeader2 col-5 m-4 ">
            </div>
            <div class="regtangleHeader2 col-5 m-4">
            </div>
      </section>
        <!-- End header 2 Section -->
        <!-- quienes somos Section -->
        <section>
            <div class="quienes-somos d-flex flex-column align-items-center">
                <h3 class="text-center">Quienes Somos</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                  inventore tempore velit, assumenda iste unde vitae! Maxime deserunt
                  aut minus ea corporis vero voluptatem doloremque impedit dolore, eius
                  tempora deleniti.
                </p>
                <button type="button" class="btn btn-primary">Leer mas </button>
              </div>
        </section>
