<app-navbar>    </app-navbar>
 <!-- Hero Section -->   
<section class="hero">
        <!-- Hero Left -->
        <div class=" hero-left">
          <h1>Lorem ipsum dolor </h1>
        
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing </h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
            inventore tempore velit, assumenda iste unde vitae! Maxime deserunt
            aut minus ea corporis vero voluptatem doloremque impedit dolore, eius
            tempora deleniti.
          </p>
          <div >
            <a href="#" class="btn-primary">Action</a>
            <a href="#">Read More...</a>
          </div>
        </div>
  

        <!-- Hero Right -->
        <div class="hero-right">
          <div class="right-top">
          
          </div>
        </div>
      </section>
        <!-- End Hero Section -->
         <!-- header 2 Section --> 
      <section class="row d-flex justify-content-center">
        <h3 class="col-12 text-center">Cómo funciona Pet Quest</h3>
            <div class="regtangleHeader2 col-12 col-sm-6 col-md-3 col-lg-3 ">
            </div>
            <div class="regtangleHeader2 col-12 col-sm-6 col-md-3 col-lg-3">
            </div>
            <div class="regtangleHeader2 col-12 col-sm-6 col-md-3 col-lg-3">
            </div>
            <div class="regtangleHeader2 col-12 col-sm-6 col-md-3 col-lg-3">
            </div>
      </section>
        <!-- End header 2 Section -->

        <!-- quienes somos Section -->
        <div class="quienes-somos d-flex flex-column align-items-center">
            <h3 class="text-center">Quienes Somos</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                inventore tempore velit, assumenda iste unde vitae! Maxime deserunt
                aut minus ea corporis vero voluptatem doloremque impedit dolore, eius
                tempora deleniti.
            </p>
        </div>

       
        <!-- testimonial card Section -->
        <section>
          <div class="casos-de-exito">
            <div class="casos-dexito">
              Casos de éxito
            </div>
            <!-- Controles -->
            <div id="carouselTestimonial" class="carousel slide container-fluid">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselTestimonial" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#carouselTestimonial" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselTestimonial" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">

                <!-- slide 1 -->
                <div class="carousel-item active">
                  <div class="container row">
                      <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>

                </div>
                <!-- slide 2 -->
                <div class="carousel-item ">
                  <div class="container row">
                      <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>

                </div>

                <!-- slide 3 -->

                <div class="carousel-item ">
                  <div class="container row">
                      <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card col">
                  <div class="contents">
                    <div class="container">
                      <div>
                        <div>
                          <!-- <img class="quotes" src="../" />  poner comillas -->
                        </div>
                        <p>
                          <span>“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../assets/Gris_0.png" alt="" class="client-photo">
                        </div>
                        <div class="col ml-3">
                          <div>
                            María y Ramón
                          </div>
                          <span class="client-proffesion">
                            Las Heras, Mendoza / Junio 2024
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>

                </div>

              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonial" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonial" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </section>

  <!-- end testimonial  Section -->
        <section>
          <div class="nuestra-comunidad d-flex flex-column align-items-center">
              
              <p class="comunidad">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                inventore tempore velit, assumenda iste unde vitae! Maxime deserunt
                aut minus ea corporis vero voluptatem doloremque impedit dolore, eius
                tempora deleniti.
              </p>
              <div>
                <button type="button" class="btn btn-outline-dark" routerLink="/register">Registrarme</button>
              </div>
            </div>  
      </section>

      <!--input email-->
<section>
  <div class="suscribirse d-flex flex-column align-items-center">
    <h3 class="titulo">¡Recibí nuestras alertas por email! </h3>
    <div class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Ingresa tu email">
      </div>
      <button type="submit" class="btn btn-warning mb-2"><b>Suscribirme</b></button>
    </div>
    <div>
      <small id="emailHelp" class="form-text text-muted">Por favor, ingresá un email válido</small>
    </div>
  </div>
  
</section>

<app-footer></app-footer>
        