<app-navbar></app-navbar>
<div id="area">
    <div class="contenedor">
        <app-saludo-dasboard></app-saludo-dasboard>
        <div class="pet_order z-1">
            <p>Ordenar por fecha</p>
            <div class="order_btn">
              <button class="rounded-start-pill" [ngClass]="{'btn_selected': order, 'btn_unselected': !order}" (click)="onOrderChange(true)">Más reciente</button>
              <button class="rounded-end-pill" [ngClass]="{'btn_selected': !order, 'btn_unselected': order}" (click)="onOrderChange(false)">Menos reciente</button>
            </div>
          </div>
          @if (isLoading) {
            <app-spiner></app-spiner>
           }@else {
            <app-card-edit class="card" *ngFor="let post of userPosts" [pet]="post"></app-card-edit>

          }
        
    </div>
</div>
<app-footer></app-footer>
