<app-navbar></app-navbar>
<div id="area">
    <div class="contenedor">
        <div class="img-lateral-izq">
            <img src="../../../assets/izq_bienvenida.png" alt="" class="fixed-image">
        </div>
        <div class="img-lateral-der">
            <img src="../../../assets/der_bienvenida.png" alt="">
        </div>
        <div class="texto">
            <h1>BIENVENIDO</h1>
            <h2>Gracias por sumarte a la comunidad</h2>
        </div>
        <div  class="navegacion">
            <ul class="nav-list">
                <li class="nab-item"><a routerLink="/info"  class="navs">Mis datos</a></li>
                <li class="nab-item"><a routerLink="/bienvenida"  class="navs">Mis publicaciones</a></li>
                <li class="nab-item"><a routerLink="/preferencias"  class="navs">Preferencias</a></li>
            </ul>
        </div>
        <div class="pet_order z-1">
            <p>Ordenar por fecha</p>
            <div class="order_btn">
              <button class="rounded-start-pill" [ngClass]="{'btn_selected': order, 'btn_unselected': !order}" (click)="onOrderChange(true)">Más reciente</button>
              <button class="rounded-end-pill" [ngClass]="{'btn_selected': !order, 'btn_unselected': order}" (click)="onOrderChange(false)">Menos reciente</button>
            </div>
          </div>
          <app-card-edit class="card" *ngFor="let post of userPosts" [pet]="post"></app-card-edit>
        
    </div>
</div>
<app-footer></app-footer>
