<app-navbar></app-navbar>
<div id="area">
    <div class="container-img">
        <img src="../../../assets/Group 3490-2.png" alt="imagen esquinera" class="imagen-lateral">
    </div>
    <div class=" container">
        <h1 class="title">Nuestra misión</h1>
        <div class="parrafo">
            <p>Es proporcionar una plataforma centralizada y eficiente donde las personas puedan publicar y buscar mascotas perdidas, así como promover la adopción de animales rescatados. Nos esforzamos por ser una fuente de esperanza y apoyo para los dueños de mascotas y las comunidades de rescate animal.</p>
        </div>
        <h1 class="title">¿Qué hacemos?</h1>
        <div class="parrafo">
            <p><b>Difusion de Mascotas Perdidas: </b>Facilitamos la publicación y búsqueda de mascotas perdidas, ayudando a que las familias se reúnan con sus seres queridos peludos lo más rápido posible.</p>
            <p><b>Promoción de Adopciones: </b>Trabajamos con refugios y organizaciones de rescate para promover la adopción de mascotas, dándoles una segunda oportunidad para encontrar un hogar cariñoso.</p>
        </div>
        <div class="row">
            <div class=" class col-6 col-md-6 col-sm-12">
                <h1 class="title">Nuestro compromiso</h1>
                <div class="parrafo">
                    <p>Estamos comprometidos con la transparencia, la integridad y el bienestar animal. Creemos en el poder de la comunidad y en la importancia de trabajar juntos para hacer una diferencia en la vida de las mascotas y sus familias.</p>
                    <p>Únete! Ya sea que estés buscando a tu mascota perdida, dispuesto a adoptar, o simplemente quieras apoyar nuestra causa, te invitamos a unirte a nuestra comunidad. Juntos podemos crear un mundo mejor para todas las mascotas.</p>
                </div>
            </div>
            <div class=" class col-6 col-md-6 col-sm-12">
                <div class="contenedor-imagen-inferior">
                    <img src="../../../assets/SVG - PNG FRONT/3 - QUIENES SOMOS/animales.png" alt="img-inferior" class="imagen-inferior-lateral">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>