@import url('../../../styles.css');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#area{
    width: var(--ancho);
    height: var(--alto);
    background-color: var(--colorFondo);
}
.img-lateral-izq{
    position: absolute;
    top: 13%;
    margin-top: 1rem;

    left: 0;
    height: 100%;
}
.img-lateral-der{
    position: absolute;
    margin-top: 1rem;
    top: 14%;
    right: 0;
    height: 100%;
}
.fixed-image{
    max-width: 100%;
    height: auto;
}

.texto{
    text-align: center;
    padding-top: 5%;
}
h1{
    color: var(--coloTitulo) ;
}
.texto h2{
    color: var(--colorBtnPublicar);
}



.navegacion{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 14px;
}
.nav-item{
    margin: 0 15px;

}
.navs{
    text-decoration: none;
    color: black;
    /* margin: 10px; */
    font-size: larger;
}
@media ( width < 566px) {
  .img{
    display: none;
  }
  .navs{
    /* margin: 6px 4px; */
    font-weight: 600;
    font-size: 1rem;
  }

}
