<div class="contenedor">
    <div class="img-lateral-izq">
        <img src="../../../assets/izq_bienvenida.png" alt="" class="fixed-image img">
    </div>
    <div class="img-lateral-der">
        <img src="../../../assets/der_bienvenida.png" alt="" class="img">
    </div>
    <div class="texto">
        <h1>BIENVENIDO</h1>
        <h2>Gracias por sumarte a la comunidad</h2>
    </div>
    <div  class="navegacion">
        <ul class="nav-list">
            <li class="nab-item"><a routerLink="/info"  class="navs">Mis datos</a></li>
            <li class="nab-item"><a routerLink="/bienvenida"  class="navs">Mis publicaciones</a></li>
            <li class="nab-item"><a routerLink="/preferencias"  class="navs">Preferencias</a></li>
        </ul>
    </div>
</div>
