@import url('../../../styles.css');

.row {
    background-color: var(--colorNavBar) !important;
}
p{
    color: var(--colorFondo) !important;
}


hr{
    border-color:#B8E4E9 !important;
    border: 3px solid;
}   
a{
    color: var(--colorFondo) !important;
    text-decoration: none;
}