<div class="container-fluid">
    <div class="row p-5 bg-light">
        <div class="col-sm-12 col-md-6 col-lg-6" id="columna-izquierda">
            <a href="#"><img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Logo.svg" alt="logo"></a>
            <br>
            <a href="" class="redes">
                <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Facebook.png" alt="facebook">
            </a>
            <a href="" class="redes">
                <img src="../../../assets/SVG - PNG FRONT/1 - LANDING/Instagram.png" alt="Instagram">
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end" id="columna-derecha">
            <ul>
                <li>
                    <a routerLink="/about-us">¿Quiénes somos?</a>
                </li>
                <li>
                    <a routerLink="/preguntas-Frecuentes">FAQ</a>
                </li>
                <li>
                    <a routerLink="/contact">Contacto</a>
                </li>
            </ul>
        </div>
<hr>
<div class="row"><div class="col-sm-12 col-md-6 col-lg-6" id="columna-izquierda-copy">
            <p><b>&copy;2024. Todos los derechos reservados</b></p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end" id="columna-derecha-copy">
            <a href="">Política de privacidad</a>|<a href=""> Términos y condiciones</a>
        </div>
        </div>

    </div>
</div>
