<div class="container-fluid">
    <div class="row p-5 bg-light">
        <div class="col-sm-12 col-md-6 col-lg-6" id="columna-izquierda">
            <p class="h1">Logo</p>
            <p class="h5">Eslogan</p>
            <a href="" class="redes">Facebook
                <img src="" alt="">
            </a>
            <a href="" class="redes">Twitter
                <img src="" alt="">
            </a>
            <a href="" class="redes">Instagram
                <img src="" alt="">
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" id="columna-derecha">
            <ul>
                <li>
                    <span>Quiénes somos</span>
                </li>
                <li>
                    <span>FAQ</span>
                </li>
                <li>
                    <span>Contacto</span>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6" id="columna-izquierda-copy">
            <p><b>&copy;2024. Todos los derechos reservados</b></p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" id="columna-derecha-copy">
            <p><b>Política de privacidad</b></p>
            <p><b>Términos y condiciones</b></p>
        </div>
        
    </div>
</div>
