<app-navbar></app-navbar>
<div id="area">
    <div class="container-img">
        <img src="../../../assets/Group 3490.png" alt="imagen esquinera" class="imagen-lateral">
    </div>
    <div class=" container">
        <h1 class="title">Preguntas frecuentes</h1>
        
        <div class="parrafo">
          <h4><b>¿Cómo funciona Pet Quest?</b></h4>
            <p>Pet Quest es una plataforma centralizada y eficiente donde las personas puedan publicar y buscar mascotas perdidas, así como promover la adopción de animales rescatados.</p>
         </div>
        <div class="parrafo">
            <h4><b>¿Cómo puedo registrarme en la plataforma?</b></h4>
            <p>Podés registrarte haciendo clic en el botón "Registrarme" en la página principal y siguiendo las instrucciones para crear una cuenta.</p>
        </div>
        <div class="parrafo">
            <h4><b>¿Cómo puedo reportar una mascota perdida?</b></h4>
            <p>Iniciá sesión en tu cuenta, dirigite a la sección "Mascotas Perdidas" y completá el formulario con la información de tu mascota, incluyendo una foto, descripción, y la última ubicación donde fue vista.</p>
        </div>
        <div class="parrafo">
            <h4><b>¿Cómo puedo poner una mascota en adopción?</b></h4>
            <p>Inicia sesión y ve a la sección "Adopción". Completa el formulario con la información de la mascota, incluyendo fotos, descripción, y cualquier requisito especial para la adopción.</p>
        </div>
        <div class="parrafo">
            <h4><b>¿Qué debo hacer si encuentro a mi mascota?</b></h4>
            <p>Si encontrás a tu mascota, iniciá sesión en tu cuenta, andá a tu reporte de mascota perdida y marcá la mascota como encontrada para que el anuncio sea retirado de la lista de mascotas perdidas.</p>
        </div>
        <div class="parrafo">
            <h4><b>¿Cómo puedo ayudar a buscar mascotas perdidas en mi área?</b></h4>
            <p>Podés navegar por la sección "Mascotas Perdidas" y filtrar los resultados por ubicación para ver las mascotas perdidas cerca tuyo. También podés compartir los reportes en redes sociales para aumentar la visibilidad.</p>
        </div>
        <div class="parrafo">
            <h4><b>¿Qué debo hacer si estoy interesado en adoptar una mascota?</b></h4>
            <p>Navegá por la sección "Adopción" y filtrá los resultados según tus preferencias.  Cuando encuentres una mascota que te interese, podés contactar al dueño a través de la plataforma para obtener más información y coordinar la adopción.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
