@import url('../../../styles.css');

#area{
    width: var(--ancho);
    height: var(--alto);
    background-color: var(--colorFondo);
}
.container{
    text-align: justify;
    padding-bottom: 5ch;
}
.title{
    margin-bottom: var(--espacioTituloAbajo);
    padding-top: var(--espacioTituloArriba);
    color: var(--colorNavBar);
    font-family: var(--titulo);
    font-weight: var(--fontWeight);
}

p {
    font-family: var(--texto);
}
h4{
    font-family: var(--titulo);
}
.container-img{
    position: relative;
    width: 20%;
    margin-left: 80%;
    background-color: var(--colorFondo);
}
.imagen-lateral{
    position: absolute;
    top: 10vh;
    right: 0px;
    max-width: 20vh;
    width: auto;
    height: auto;
}
.parrafo{
    background-image: url("../../../assets/list.png") ;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 50px;
    padding-top: 10px;
}