@import url('../../../styles.css');

#area{
    width: var(--ancho);
    height: var(--alto);
    background-color: var(--colorFondo);
}
.img-lateral-izq{
    position: absolute;
    top: 13%;
    left: 0;
    height: 100%;
}
.img-lateral-der{
    position: absolute;
    top: 14%;
    right: 0;
    height: 100%;
}
.fixed-image{
    max-width: 100%;
    height: auto;
}
.contenedor {
    padding-bottom: 15%;

}
@media (max-width: 768px) {
    .content {
      margin-left: 150px;
    }
  }

  @media (max-width: 480px) {
    .content {
      margin-left: 100px;
    }
  }



.texto{
    text-align: center;
    padding-top: 5%;
}
h1{
    color: var(--coloTitulo) !important;
}
.texto h2{
    color: var(--colorBtnPublicar);
}

.navegacion{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-item{
    margin: 0 15px;

}
.navs{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: larger;
}

.container{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 4%;
}


.info{
    margin: 0 0 3% 0;
    padding: 8%;
    border-radius: 22px;
    border: 1px solid var(--colorBtnRegistrarme);
}
.info h2{
    margin-bottom: 4%;
    color: var(--colorBtnPublicaciones);
}
.form-group{
    margin-bottom: 2%;
}
.form-group label{
    font-family: var(--texto);
    font-size: larger;
    font-weight: 300;
}
.form-group input{
    background-color: var( --colorInputFormProfile);
}
.btn{
    display: flex;
    justify-content: end;
    margin-top: 4rem
}
.btn button {
  background-color: var(--colorBtnLogin);
  color: white;
  padding: 10px 50px;
  border-color: transparent;
  border-radius: 50px;
}

.email{
  color: #979797;
}

.profilePicture{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.foto{
    margin: 0 0 3% 0;
    padding: 4% 0 4% 8%;
    border-radius: 22px;
    border: 1px solid var(--colorBtnRegistrarme);
}
#derecho{

    width: 35%;
    height: 40%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: auto;
    height: auto;
}

.cuenta{
    padding: 7% 8% 7% 8%;
    border-radius: 22px;
    border: 1px solid var(--colorBtnRegistrarme);
}

.cuenta  h2{
    color: var(--colorBtnPublicaciones);
}
.foto  h2{
    color: var(--colorBtnPublicaciones);
}
#ModalReport{
    background-color: var(--colorFondoCards) !important;
    border-radius: 15px;
}

