<app-navbar></app-navbar>
<div id="area">
    <div class="contenedor">
        <div class="img-lateral-izq">
            <img src="../../../assets/izq_bienvenida.png" alt="" class="fixed-image">
        </div>
        <div class="img-lateral-der">
            <img src="../../../assets/der_bienvenida.png" alt="">
        </div>
        <div class="texto">
            <h1>BIENVENIDO</h1>
            <h2>Gracias por sumarte a la comunidad</h2>
        </div>
        <div  class="navegacion">
            <ul class="nav-list">
                <li class="nab-item"><a routerLink="/info"  class="navs">Mis datos</a></li>
                <li class="nab-item"><a routerLink="/bienvenida"  class="navs">Mis publicaciones</a></li>
                <li class="nab-item"><a routerLink="/preferencias"  class="navs">Preferencias</a></li>
            </ul>
        </div>
        <div class="formulario">
            <div class="row">
                <div class="class col-6 col-md-6 col-sm-12">

                    <div class="info">
                        <H2>Información personal</H2>
                        <div class="form-group">
                          <label for="inputName"><b>Nombre *</b></label>
                          <input type="text" class="form-control" id="inputName" [(ngModel)]="user.name" name="name">
                      </div>
                      <div class="form-group">
                          <label for="inputProvince"><b>Provincia</b></label>
                          <select class="form-control" [(ngModel)]="selectedProvince" name="province" (change)="getCities(selectedProvince)">
                            <option value="" disabled selected>Seleccione una provincia</option>
                            <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="selectedCity" name="city" (change)="getLocalities(selectedCity)">
                          <option value="" disabled selected>Seleccione una ciudad</option>
                          <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="selectedLocality" name="locality">
                          <option value="" disabled selected>Seleccione una localidad / barrio</option>
                          <option *ngFor="let Locality of localities" [value]="Locality.name">{{Locality.name}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                          <label for="inputPhone"><b>Teléfono</b></label>
                          <input type="text" class="form-control" id="inputPhone" [(ngModel)]="user.phone" name="phone">
                      </div>
                        <div class="btn">
                            <button (click)="saveUser()">Guardar</button>
                        </div>
                    </div>
                </div>

                <div class="class col-6 col-md-6 col-sm-12">
                    <div class="foto">
                        <div class="row">
                            <div class="class col-6" id="zquierdo">
                                <h2>Foto perfil</h2>
                                <div class="btn justify-content-start">
                                  <button type="button">Subir</button>
                                </div>
                            </div>
                            <div class="class col-6 " id="derecho">
                              <img *ngIf="user.profilePicture != ''; else defaultImage" class="profilePicture" src="{{user.profilePicture}}" alt="Profile Picture">
                              <ng-template #defaultImage>
                                <img src="../../../assets/Rectangle 23864.png" class="profilePicture" alt="">
                              </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="cuenta">
                        <h2>Mi cuenta</h2>
                        <p class="mt-2 mb-4 email">{{user.email}}</p>
                        <form [formGroup]="userPassword" (ngSubmit)="savePassword()">
                          <div class="form-group">
                            <label for="exampleInputPassword1">Nueva contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword2">Repetir contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" formControlName="rePassword">
                          </div>
                          <div class="btn">
                              <button type="submit">Guardar</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

