<div class="contenedor">
    <div class="row">
        <div class=" flex-container class col-12 col-sm-6" id="contenedor-bienvenida">
            <div id="tex">
                <h1 class="title-bienvenida">Encuentra a tu <br>mejor amigo</h1>
                <p>Un lugar para reunir mascotas perdidas con sus hogares y dar una segunda oportunidad a aquellas que esperan ser adoptadas. </p>
                <p>¡Juntos podemos hacer la diferencia!</p>
                <div id="btns">
                   @if (!auth) {<button type="button" class="btn-pet " id="btn1" data-bs-toggle="modal" data-bs-target="#myModal">Publicar</button>}
                   @else {<button type="button" class="btn-pet" id="btn1-1" routerLink="/form-publication">Publicar</button>}
                  
                    <button type="button" class="btn-pet" id="btn2" routerLink="/mascotas-perdidas">Ver publicaciones</button>
                </div>
            </div>
        </div>
        <div class=" class col-12  col-sm-6" id="img-land">
            <img src="../../../assets/Landing page 1.png" alt="" class="imagen-landing">
        </div>
    </div>
</div>s

