@import url('../../../styles.css');
.contenedor{
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 3%;
    
}
.title-bienvenida{
    color: var(--colorNavBar);
    font-family: var(--titulo);
    font-weight: var(--fontWeight);
}
.imagen-landing{
    width: 90%;
    height: auto;
}
#img-land{
    display: flex;
    align-items: end;
    align-content: end;
    justify-content: end;
    flex-direction: column-reverse;
}
#contenedor-bienvenida{
    padding-top: 15%;
    padding-left: 15%;
    
}
#btns{
    margin-left: 20%;
    padding-top: 3%;
    margin-bottom: 5%;
}
#btn1{
    background-color: var(--colorBtnPublicar);
    border-radius: 25px;
    width: 30%;
    margin-right: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;;
}
#btn2{
    background-color: var(--colorBtnPublicaciones);
    border-radius: 25px;
    width: 30%;
    margin-left: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
}
@media(max-width: 650px){
    .row{
        display:flex ;
        flex-direction: column-reverse;
    }
    img{
        width: 80%;
    }
}