<div class="contenedor">
  <div class="sec-1">
    <p>Tipo de publicación</p>
    <button type="button" class="btn btn-outline-dark">
      Perdidos
    </button>
    <button type="button" class="btn btn-outline-dark">
      Encontrados
    </button>
    <button type="button" class="btn btn-outline-dark">Gris</button>
    <button type="button" class="btn btn-outline-dark">
      Adopción
    </button>
  </div>

  <div class="sec-2">
    <p>Especie de animal</p>
    <button type="button" class="btn btn-outline-dark">
      Perro
    </button>
    <button type="button" class="btn btn-outline-dark">
      Gatos
    </button>
    <button type="button" class="btn btn-outline-dark">Gris</button>
    <button type="button" class="btn btn-outline-dark">
      Otro
    </button>
  </div>

  <div class="sec-3">
    <p>Sexo del animal</p>
    <button type="button" class="btn btn-outline-dark">
      Macho
    </button>
    <button type="button" class="btn btn-outline-dark">
      Hembra
    </button>
    <button type="button" class="btn btn-outline-dark">Gris</button>
  </div>

  <div class="sec-4">
    <p>Color del animal</p>
    <button type="button" class="btn btn-outline-dark">
      Negro
    </button>
    <button type="button" class="btn btn-outline-dark">
      Blanco
    </button>
    <button type="button" class="btn btn-outline-dark">
      Gris
    </button>
    <button type="button" class="btn btn-outline-dark">
      Marrón
    </button>
    <button type="button" class="btn btn-outline-dark">
      Amarillo/Beige
    </button>
    <button type="button" class="btn btn-outline-dark">
      Multicolor
    </button>
    <button type="button" class="btn btn-outline-dark">
      Otro
    </button>
  </div>
  
  <div class="sec-5">
    <p>Etiquetas</p>
    <button type="button" class="btn btn-outline-dark">
      Manchas
    </button>
    <button type="button" class="btn btn-outline-dark">
      Cicatriz
    </button>
    <button type="button" class="btn btn-outline-dark">
      Cola cortada
    </button>
    <button type="button" class="btn btn-outline-dark">
      Orejas caídas
    </button>
    <button type="button" class="btn btn-outline-dark">
      Adulto
    </button>
    <button type="button" class="btn btn-outline-dark">
      Cachorro
    </button>
    <button type="button" class="btn btn-outline-dark">
      Orejas erguidas
    </button>
    <button type="button" class="btn btn-outline-dark">
      Vacunado
    </button>
    <button type="button" class="btn btn-outline-dark">
      Desparasitado
    </button>
    <button type="button" class="btn btn-outline-dark">
      Tratamiento especial
    </button>
    <button type="button" class="btn btn-outline-dark">
      Discapacidad
    </button>
    <button type="button" class="btn btn-outline-dark">
      Pelo corto
    </button>
    <button type="button" class="btn btn-outline-dark">
      Pelo largo
    </button>
    <button type="button" class="btn btn-outline-dark">
      Castrado
    </button>
  </div>

  <div class="ubicacion">
    <p>Ubicación</p>
    <div class="row">
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control">
          <option selected>Provincia</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control">
          <option selected>Ciudad</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control">
          <option selected>Localidad</option>
          <option>...</option>
        </select>
      </div>
    </div>

  </div>




  <button type="button" class="btn btn-outline-dark">
    Amarillo/Beige
  </button>
  <button type="button" class="btn btn-outline-dark">
    Multicolor
  </button>
  <button type="button" class="btn btn-outline-dark">
    Otro
  </button>
</div>
