@import url('../../../styles.css');
.section{
  display: flex;
  padding: 2 0 0 0;
  background-color: var(--colorFondo);
}
.filtro {
  max-width: 410px;
  margin-right: 3rem;
}
.pet__section{
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
}
.pet__info{
  margin: 2rem 0 0 2.2rem;
}
h1 {
  color:var(--colorNavBar);
  font-family: var(--titulo);
  font-size: 39px;
  font-weight: 600;
  letter-spacing: 2%;
}
.pet__info p{
  font-weight: 400;
  font-size: 13px;
  font-family: var(--texto);
}

.contenedor{
  margin: .5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.card{
  /* flex: 1 1 calc(33.33% - 2rem); */
  margin: .5rem;
  max-width: 307px ;
  width: 100%;
  max-height: 405px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

/* medias  */
@media (width < 767px) {
  .section {
    padding: 0;
    flex-direction: column;
    /* display: block; */
  }
  .filter__section, .pet__section{
    text-align: center;
    margin: .5rem auto;
  }
  .pet__section{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .pet__info{
    margin: 0 auto;
    max-width: 350px;
  }
  .pet__info p{
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
  }
  .contenedor{
<<<<<<< HEAD
    /* justify-content: center; */
    margin: .5rem;
    gap: 1rem;
=======
    margin: .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
>>>>>>> 9a18e39d2a4fe356cc605222108bb3330c9cdaa4
  }
  .card{
    margin: .5rem .3rem;
    max-width: 250px ;
    width: 100%;
    max-height: 405px;
  }

}
@media (width < 500px){
  .card{
<<<<<<< HEAD
    max-width: 190px ;
  }
  .contenedor{
    margin: .3rem;
    gap: .5rem;
=======
    max-width: 220px ;
  }
  .contenedor{
    margin: .53em;
    gap: .8rem;
>>>>>>> 9a18e39d2a4fe356cc605222108bb3330c9cdaa4
  }
}
