@import url('../../../styles.css');
.section{
  display: flex;
  padding-top: 2rem;
  background-color: var(--colorFondo);
}
.cont{
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 2rem; */
}
.info-pet{
  margin: 1rem 2rem;
}
.info-pet p{
  font-weight: 400;
  font-size: 13px;
  font-family: var(--texto);
}
h1 {
  font-family: var(--titulo);
  font-size: 39px;
  font-weight: 600;
  letter-spacing: 2%;

}
.filtro {
  /* position: relative; */
  max-width: 416px;
  margin-right: 3rem;
}
.contenedor{
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem
}

.card{
  flex: 1 1 calc(33.33% - 2rem);
  max-width: 307px ;
  max-height: 405px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .filtro {
    max-width: 100%;
    margin-right: 0;
  }
  .card {
    flex: 1 1 calc(50% - 2rem); /* 50% para dos cards por fila con espacio */
  }
}

@media (max-width: 500px) {
  .section {
    flex-direction: column;
  }
}
