<app-navbar></app-navbar>
<div class="section">
  <div class="filter__section">
    <app-filtroperdidas class="filtro" (filtersApplied)="receiveFilters($event)"></app-filtroperdidas>
  </div>
  <div class="pet__section">
    <div class="pet__info">
      <h1>Mascotas Perdidas</h1>
      <p>Aquí encontrarás publicaciones de personas que han encontrado mascotas perdidas en la calle.</p>
    </div>
    <div class="pet_order">
      <p>Ordenar por fecha</p>
      <div class="order_btn">
        <button class="rounded-start-pill" [ngClass]="{'btn_selected': order, 'btn_unselected': !order}" (click)="onOrderChange(true)">Más reciente</button>
        <button class="rounded-end-pill" [ngClass]="{'btn_selected': !order, 'btn_unselected': order}" (click)="onOrderChange(false)">Menos reciente</button>
      </div>
    </div>
    <div class="border-top border-dark w-100 mt-3"></div>
    <!-- <hr> -->
    <div class="contenedor" *ngIf="pets && pets.length > 0">
      <app-pets-card class="card" *ngFor="let pet of pets" [pet]="pet"></app-pets-card>
    </div>
    <div *ngIf="!(pets && pets.length > 0)">
      <p>No se encontraron mascotas perdidas.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
