@import url('../../../styles.css');
.section{
  display: flex;
  padding-top: 2rem ;
  background-color: var(--colorFondo);
}
.filtro {
  max-width: 416px;
  margin-right: 3rem;
}
.cont{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.info-pet{
  margin: 1rem auto;
  /* text-align: center; */
}
.info-pet p{
  font-weight: 400;
  font-size: 13px;
  font-family: var(--texto);
}
h1 {
  font-family: var(--titulo);
  font-size: 39px;
  font-weight: 600;
  letter-spacing: 2%;
}

.contenedor{
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem
}
.card{
  flex: 1 1 calc(33.33% - 2rem);
  max-width: 307px ;
  max-height: 405px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

/* medias  */
@media (max-width: 768px) {
  .section-filter, .cont{
    text-align: center;
    margin: .5rem auto;
  }
  .filtro {
    flex-direction: column;
  }
  .cont{
  margin: .3rem;
  }
  .info-pet{
    /* background-color: red; */
    margin: 1rem .3rem;
    max-width: 350px;
    padding: 0;

  }
  .info-pet p{
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
  }
  .contenedor{
  gap: 1rem;
  }
  .card {
    flex: 1 1 calc(50% - 2rem); /* 50% para dos cards por fila con espacio */
  }
}

@media (max-width: 500px) {
  .section {
    padding: 0;
    flex-direction: column;
  }
}
