<div class="quienes-somos container-fluid">
    <div class="d-flex justify-content-center">
        <h3 class="title">Quienes Somos</h3>
    </div>
    <div class="full-width-container row">
                <div class="col fix img-l">
            <img src="../../../assets/Mask group L.png" alt="l" >
        </div>
        <div class="col d-flex justify-content-start conteiner-text">
            <p>
                En Pet Quest creemos que cada mascota merece un hogar lleno de amor y <br>seguridad. Somos un equipo apasionado, amantes de los animales y voluntarios dedicados a reunir a las <br>mascotas perdidas con sus familias y a  encontrar nuevos hogares para aquellas que han sido rescatadas.
            </p>
        </div>
        <div class="col d-flex justify-content-end img-r">
            <img src="../../../assets/Mask group R.png" alt="r">
        </div>
    
    </div>

</div>

