@import url('../../../styles.css');
.contenedorGeneral{
  width: 100%;
  height: 20%;
  display: flex;
}
.imagenLateralIzq{
  position: absolute;
  width: 12%;
  height: 20%;
  margin-left: 0;
}
.imagenLateralDer{
  position: absolute;
  width: 12%;
  height: 20%;
  margin-right: 0;
  margin-left: 88%;
}
img{
  width: 100%;
  height: auto;
}
.contenedorTexto{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.titulo{
  margin-top: 8%;
  margin-bottom: 8%;
  
}
h3{
  font-family:'Poppins';
  font-size: 39.8px;
  font-weight: 600;
  color: var(--colorNavBar);
}
.cuerpo{
margin-bottom: 8%;
font-family: var(--texto);
font-size: larger;
}


