<div class="contendroGeneral">
    <div class="imagenLateralIzq">
        <img src="../../../assets/Mask group L.png" alt="">
    </div>
    <div class="imagenLateralDer">
        <img src="../../../assets/Mask group R.png" alt="">
    </div>
    <div class="container">
        <div class="contenedorTexto">
            <div class="titulo">
                <h3>Quienes Somos</h3>
            </div>
            <div class="cuerpo">
                <p> En Pet Quest creemos que cada mascota merece un hogar lleno de amor y seguridad. Somos un equipo apasionado, amantes de los animales y voluntarios dedicados a reunir a las <br>mascotas perdidas con sus familias y a  encontrar nuevos hogares para aquellas que han sido rescatadas.</p>
            </div>
        </div>
    </div>
</div>













