<app-navbar></app-navbar>
<div class="section">
  <div class="filter__section">
    <app-filtroperdidas class="filtro" (filtersApplied)="receiveFilters($event)"></app-filtroperdidas>
  </div>
  <div class="pet__section">
    <div class="pet__info">
      <h1>Mascotas En Adopcion</h1>
      <p>Aquí encontrarás publicaciones de personas que han encontrado mascotas perdidas en la calle.</p>
    </div>
    <!-- <hr> -->
    <div class="contenedor" *ngIf="pets && pets.length > 0">
      <app-pets-card class="card" *ngFor="let pet of pets" [pet]="pet"></app-pets-card>
    </div>
    <div *ngIf="!(pets && pets.length > 0)">
      <p>No se encontraron mascotas para adoptar .</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
